.App-header {
  display: grid;
  grid-template-areas: "logo " "right " "left ";
  grid-template-columns: 100%;
  
}

.accordian{
 
  height: 300px;
}
.bin-hover:hover {
  cursor: pointer;
}

.basket ul {
  list-style: none;
  width: 60%;

  margin: 0;
  overflow-x: visible;
  overflow-y: clip;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.basket-font-20 {
  padding-top: 25px;
}

.basket li {
  font-size: 0.9em;
  margin: 0;
  background-color: rgb(0, 255, 140);

  height: 40px;
  padding: 4px;
  width: 170px;
}
.basket {
  background-color: rgb(249, 249, 250);

  display: flex;
  width: 100%;
}
.basket:hover {
  cursor: pointer;
}

.basket-image-sm {
  width: 70px;
}

.carousel-image {
  width: 600px;
  height: auto;
  object-fit: cover;
}
.cart-checkout {
  grid-area: checkout;
  padding: 20px;

  width: 500px;

}
.cart-button-gn {
  width: 100%;
  background-color: rgb(0, 255, 140);
  border: 1px solid grey;
  border-radius: 5px;
}

.cart-button-grey {
  width: 100%;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
}

.debugging {
  position: absolute;
  background-color: darkgoldenrod;
  height: 100px;
  top: 100px;
  left: 50px;
  width: 200px;
  z-index: 140;
}
.footer{
  grid-area: footer;
  width: 90%;
  height: 100px;
  
}


.full-basket {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}
.header {
  background-color: rgb(249, 249, 250);
  height: 100px;

  grid-area: logo;
  display: flex;

  justify-content: center;
  width: 90%;
  margin: 0 auto;

  z-index: 100;
}

.h1-brand{
  display: block;
  font-size: 0.9em;

}
.h1-item{
  display: block;
  font-size: 0.5em;
}
.left-items {
  display: grid;
  align-content: start;
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  grid-template-columns: repeat(auto-fit, 15rem);

  padding: 10px;

  gap: 26px;

  grid-area: left;
}


.nav.nav-tabs .nav-link.active {
  background-color: rgba(192, 192, 192, 0.201);
}
.nav-mini {

  width: 60%;
}

.nav-image30 {
  width: 26px;
}

.nav-pagin {
  display: flex;

  margin: 0;
  background-color: rgb(181, 181, 176);
  height: 70px;
  gap: 20px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  margin: 0 auto;
  width: 90%;
  height: 400px;
}

.random-selection{
  margin-top: 200px;
}
.right-details {
  background-color: darkcyan;
  grid-area: right;
}

#right {
  width: 80%;
  margin: 0 auto;
}
.success {
  background-color: rgb(0, 255, 140);
  color: black;
  border-radius: 5px;
  font-weight: 400;
}

.success:hover {
  cursor: pointer;
}

.selection {

 margin-top: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 70px;

}

.shirts-sm{

  font-size: 0.8em;
  margin-left: 10px;
  width: 30px;
  text-align: right;
}

.shirts-lg{

  font-size: 1em;
}
.shirt-hover:hover {
  cursor: pointer;
  transform: scale(0.995);
}
.shirt-hover {
  width: 16rem;
  border-radius: 10px;
}

.side-by-side {
  display: grid;
  grid-template-areas: ". checkout " ;
}

.small-table {
  width: 30%;
  height: 200px;
}

.warning {
  background-color: red;
  color: white;
  border-radius: 5px;
}

/* 
---------Typewriter---------------------- */

.type {
  font-size: 5em;
  line-height: 2.6em;
  color: white;
  font-weight: 800;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.type > span {
  display: grid;
  overflow: hidden;
  height: 2em;
}
.type span span {
  width: 0%;
  max-width: max-content;
  overflow: hidden;
  height: 2em;
  word-break: break-all;
  animation: c 0.5s infinite steps(1), t 2s linear infinite alternate,
    m 12s steps(3) infinite;
}
.type span span:before {
  content: " ";
  display: inline-block;
  height: 1.1em;
}
@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}
@keyframes c {
  0%,
  100% {
    box-shadow: 5px 0 0 #0000;
  }
  50% {
    box-shadow: 5px 0 0 white;
  }
}
@keyframes m {
  100% {
    transform: translateY(-300%);
  }
}



/* ---------------glowing text ------------------------ */



.glow {
  margin-left: 20px;
  font-size: 1.8em;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.glowpara {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.glowsmall {
  font-size: 1.2em;
  color: #dabfbf;
  text-align: center;
  text-shadow: 0 0 44px #e41010;
  
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #0beb4e;
  }
}




/* mobile friendly -------------------------------------- */
@media (max-width: 800px) {
  .no-mobile {
    display: none;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    margin: 0 auto;
    width: 100%;
    height: 400px;
  }

  .carousel-image {
    width: 80vw;

    object-fit: cover;
  }

  .side-by-side {
    display: grid;
    grid-template-areas: ". " "checkout " ;
  }

  .basket {
    width: 90%;
    display: flex;
  }
  .cart-checkout {
    height: 400px;
  }

  .shirt-hover {
    width: 100vw;
    border-radius: 10px;
  }

  .left-items {
    display: grid;

    margin: 0 auto;

    height: 90vh;
    grid-template-columns: repeat(auto-fit, 100vw);

    padding: 10px;

    grid-area: left;
  }

  .type {
    font-size: 2em;
    line-height: 2em;
    color: white;
    font-weight: 800;

    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .selection {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 2px;
    
  }
  .random-selection{
    margin-top: 400px;
  }

  .header {
    height: 100px;

    grid-area: logo;
    display: flex;

    justify-content: center;
    width: 100%;
    margin: 0 auto;

    z-index: 100;
  }

  .random-selection h4 {
    font-size: 0.9rem;
  }

  .random-selection h5 {
    font-size: 0.9rem;
  }

  .cart-checkout {
    grid-area: checkout;
    padding: 20px;
  
    width: 100%;
}

}